body{
    font-family: Arial, Helvetica, sans-serif;
}

.navar{
    border-radius: 0px 20px 0px 20px ;
}
.menu{
    list-style: none;
    padding: 0;
    background-color: orange;
    margin: auto;
}

.menu li{
    display: inline-block;
    text-align: justify;
}

.menu li a:hover {
    background-color: rgb(207, 147, 34);
}

.button{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;	
}

.button1{
    text-decoration: none;
    color: whitesmoke;
    padding: 20px;
    display: block;
    background-color: orange;
    text-justify: center;
    text-decoration: none;
    padding: 8px;
    border-radius: 8px;
    justify-content: center;
    border-style: solid;
}

.button2{
    text-decoration: none;
    color: orange;
    padding: 20px;
    display: block;
    background-color: whitesmoke;
    text-justify: center;
    text-decoration: none;
    padding: 8px;
    border-radius: 8px;
    border-style: solid;
}
h1{
    color: orangered;
    text-align: center;
    font-size: 64px;
}

h2{
    color: coral;
    text-align: center;
    font-size: 24px;
    justify-content: center;
}

.button3{
    color: white;
    text-justify: center;
    background-color: rgb(40, 160, 207);
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
    float: center;
    margin: 40px;
    margin-left: 70px;
    margin-top: 10px;
}

.button3:hover{
    background-color: rgb(33, 132, 172);
}

.button4{
    color: white;
    text-justify: center;
    background-color: slateblue;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
    float: center;
    margin: 40px;
}

.button4:hover{
    background-color: rgb(69, 60, 133);
}

.button5{
    color: white;
    text-justify: center;
    background-color: orangered;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
    float: center;
    margin: 40px;
}

.button5:hover{
    background-color: rgb(197, 58, 8);
}

.button6{
    color: white;
    text-justify: center;
    background-color: rgb(40, 160, 207);
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
    float: center;
    margin: 40px;
    margin-top: 20px;
    margin-left: 40px;
}

.button6:hover{
    background-color: rgb(33, 132, 172);
}

.button7{
    color: white;
    text-justify: center;
    background-color: slateblue;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
    float: center;
    margin: 40px;
}

.button7:hover{
    background-color: rgb(69, 60, 133);
}

.button8{
    color: white;
    text-justify: center;
    background-color: orangered;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
    float: center;
    margin: 40px;
}

.button8:hover{
    background-color: rgb(197, 58, 8);
}

.button9{
    color: rgb(187, 139, 6);
    text-justify: center;
    background-color: whitesmoke;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
    margin-left: 200px;
    width: 10px;
}

.button9:hover{
    background-color: rgb(212, 207, 207);
}
.button10{
    color: white;
    text-justify: center;
    background-color: rgb(241, 179, 7);
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
    margin-left: 235px;
}

.button10:hover{
    background-color: rgb(187, 139, 6);
}

.button3, .button4, .button5{
    justify-content: space-evenly;
    margin-top: 10px;
}

.responsive-banner {
    margin: 80px auto;
    width: 40%;
    min-width: 230px;
    max-width: 330px;
    position: relative;
    min-height: 300px;
    max-height: 500px;
    border-radius: 10px;
    overflow: hidden;
    background-image: linear-gradient(to bottom right, #D45BA1, #A784E0);
    background-repeat: no-repeat;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  .container-envelope {
    padding: 35px 15px;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    
  }
  .col-xs-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    text-align: center;
  }
  
  img {
    max-width : 330px;
    width: 100%;
    position: relative;
  }
  span:after,
  span:before {
    content: "";
    position: absolute;
    display: block;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    width: 50px;
    height: 50px;
  }
  .circle-a:before {
    width: 500px;
    height: 500px;
    top: -300px; left: 52%;
    -webkit-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    transform: translate(-50%,0);
  }
  .circle-a:after {
    top: 160px;
    right: 10%;
  }
  .circle-b:before {
    top: 60%;
    left: -25px;
  }
  .circle-b:after {
    width: 150px;
    height: 150px;
    bottom: -70px;
    right: -70px;
  }
  
  p {
    clear: both;
    font-family: 'Work Sans', Helvetica, sans-serif;
    text-transform: none;
    text-rendering: optimizeLegibility;
    font-weight: 500;
    line-height: 1.15;
    word-wrap: break-word;
    margin: 1em 0 0.5em;
    margin: 0;
    padding: 0;
    color: #fff;
    position: relative;
    word-wrap: break-word;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  a.more-link {
    background-color: rgba(255, 255, 255, 0.35);
    display: inline-block;
    padding: 12px 18px;
    color: #fff;
    text-decoration: none;
    font: 500 15px 'Work Sans', Helvetica, sans-serif;
    line-height: 1.5;
    text-align: center;
    border: none !important;
    position: relative;
    border-radius: 30px;
    text-transform: uppercase;
    -webkit-transition: .1s all ease-in-out;
    -moz-transition: .1s all ease-in-out;
    -o-transition: .1s all ease-in-out;
    transition: .1s all ease-in-out;
  }
  a.more-link:hover {
    background-color: rgba(255, 255, 255, 0.50);
  }
  body {
    background-color: #eff2f7;
    margin-bottom: 50px;
  }
  html, button, input, select, textarea {
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    color: #90b0bf;
  }

  .div1{
    float: right;
  }

  .navbar{
    border-radius: 0px 0px 30px 30px;
    width: 1240px;
    margin-left: 10px;
}

  .div2{
    float: left;
  }

  #title{
      margin-top: 20px;
  }

  #btn{
      margin-top: 10px;
  }

  