:root {
  /*Letra*/
  --FuenteHeading: 'Lobster', cursive;
  --FuenteNormal: 'Quicksand', sans-serif;
  /*Colores*/
  --ColorSeleccion: #053136d0;
  --ColorContraste: #7ec544;

  --colorTextos: #49454567;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f9f7ed;

  font-family: var(--FuenteNormal);
  width: 100%;
  height: 650px;

  justify-content: center;
  align-items: center;
}


h1 {
  text-align: center;
  margin: 10px 0;
  font-family: var(--FuenteHeading);
}

label{
  font-family: var(--FuenteNormal);
}
input{
  font-family: var(--FuenteNormal);
}

#form1 {
  background-image: url(https://img.freepik.com/vector-gratis/circuitos-fondo-digital-degradado-azul-rojo_23-2148821701.jpg?size=626&ext=jpg);
  background-size: cover;
  color: black;
  width: 50%;
  margin: 0 20%;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
@media (max-width: 768px) {
  #form1 {
   width: 70%;
  }
}
@media (max-width: 508px) {
  #form1 {
    margin: 0 5%;
    width: 90%;
   }
}
.form {
  padding: 2rem;
  width: 100%;
  margin: auto;
  background-color: rgba(0, 134, 175, 0.671);
}

form.grupo {
  position: relative;
  margin: 45px;
}

input,
textarea {
  background: #f9f7ed;
  color: black;
  font-size: 18px;
  padding-left: 10px 10px 10px 5px;
  display: block;
  width: 100%;

  border-bottom: 1px solid var(--colorTextos);
  resize: none;
}

input:focus,
textarea:focus {
  outline: none;
  color: black;
}

.barra {
  position: relative;
  display: block;
  width: 100%;
}

.barra::before {
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: linear-gradient(to right, #6a92fb, #fc5c7d);
  transition: 0.3s ease-all;
  left: 0;
}

#Enviar {
  background: #fc5c7d;
  background: -webkit-linear-gradient(to right, #6a82fb, #fc5c7d);
  background: linear-gradient(to right, #6a82fb, #fc5c7d);
  border-radius: 9px;
  display: block;
  width: 100px;
  height: 40px;
  border: none;
  color: #fff;
  margin: 10px auto;
  cursor: pointer;
}
.container2 {
  background-color: rgba(179, 219, 245, 0.308);
  margin-top: 30px;
}
/*Boton de la barra de navegacion*/
.boton {
  position: relative;
  margin-right: 20px;
}
.boton__contenido {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contenedorfav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.inputs_formato{
  padding: 0.3rem;
  border: 1px rgb(230, 230, 230) solid;
  border-radius: 7px;
  width: 100%;
}
@media (max-width: 768px) {
   .boton{
     width: 100%;
   }
}
.error{
  background-color: rgb(255, 200, 211);
  color: #ff0033;
  font-size: 20px;
  text-align: center;
  height: 40px;
  text-transform: uppercase;
  transition: 0.5s;
}