/* Variables */
:root {
  /*Letra*/
  --FuenteHeading: 'Lobster', cursive;
  --FuenteNormal: 'Quicksand', sans-serif;
  /*Colores*/
  --ColorSeleccion: #053136d0;
  --ColorContraste: #7ec544;
}
/* elementos globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--FuenteNormal);
}
h1 {
  font-family: var(--FuenteHeading);
  font-size: 3rem;
}
h2 {
  font-family: var(--FuenteHeading);
  font-size: 2.5rem;
}
h3 {
  font-family: var(--FuenteHeading);
  font-size: 2rem;
}
h4 {
  font-family: var(--FuenteHeading);
  font-size: 1.5rem;
}
h5 {
  font-family: var(--FuenteHeading);
}
a{font-family: var(--FuenteNormal);}
p{font-family: var(--FuenteNormal);}
.container2 {
  background-color: rgba(179, 219, 245, 0.308);
  margin-top: 30px;
}
/*Boton de la barra de navegacion*/
.boton {
  position: relative;
  margin-right: 20px;
}
.boton__contenido {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

.contenedorfav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.error {
  background-color: rgb(255, 200, 211);
  color: #ff0033;
  font-size: 20px;
  text-align: center;
  height: 40px;

  transition: 0.5s;
  font-family: var(--FuenteHeading);
}
.correct {
  background-color: rgb(211, 255, 200);
  color: #3cff00;
  font-size: 20px;
  text-align: center;
  height: 40px;
  transition: 0.5s;
  font-family: var(--FuenteHeading);
}
