#GrupoCards{
    margin-left: 20px;
    border-radius: 40px;
    margin-top: 50px;
    height:500px;
   
}

.container .card{
    width: 330px;
    height: 430px;
    border-radius: 8px ;
    box-shadow: 0 2px 2px rgb(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    float: left;
}
.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgb(0, 0, 0, 0.2);
}
.container .card img{
    width: 330px;
    height: 220px;
}
.container .card h3{
    font-weight: 600;
}
.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}
.container .card a{
    font-weight: 500;
    text-decoration: none;
}

#img{
    padding: 50px;
    width: 300px;
    margin-left: 40px;
}

.btn{
    margin-left: 150px;
}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgb(0, 0, 0, 0.2);

    
}

#walmart{
    float: left;
    margin-left: 130px;

    width: 260px;
    padding: 0px 0px 0px 5px;
    margin-top: 50px;
   
}

#amazon{
    float: left;
    margin-left: 120px;
  
    width: 260px;
    padding: 10px 0px 0px 35px;
    margin-top: 50px;
    
}

#coppel{
    margin-left: 900px;
    width: 230px;
    padding: 0px 0px 0px 15px;
    margin-top: 65px;
   
}

#parrafo{
    color: #64A7B1;
    text-align: center;
    margin-top: 50px;
    padding: 60px;

}

#fondo{
background-color:rgba(245, 222, 179, 0.308);
width: 1260px;
height: 200px;

}

#DESPLEGABLE {
    height: 60px;
}

#video{
    margin-left: 120px;
    margin-top: 30px;
    float:left;
}

#video2{
    margin-left: 130px;
    margin-top: 30px;

  
}

#propaganda1{
    
width: 1260px;
height: 300px;
margin-top: 50px;
}

.card-title{
    text-align: center;
}
.container  .card{
    margin-top: 50px;
    transition: all 0.25s;
}
#aside1{
    margin-top: 50px;
    width: 275px;
    float: left;
    border-style: ridge;
}

.navbar{
    border-radius: 0px 0px 30px 30px;
    width: 1240px;
    margin-left: 10px;
}
