#logh{
    width: 250px;
    height: 280px;
    margin-left: 240px;
    margin-top: 110px;
    float:left;
    border-radius: 15px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.09); 
    box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.09);
    
}

#pie{
    font-size: .8em;
    text-align: center;
    background-color: white;
    padding: 10px;
}

/*formulario*/
#formulario{
    background-color: white;
   width: 300px;
   height: 500px;
   margin:100px auto;
   border-radius: 15px;
   -webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.09); 
    box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.09);
   
}

#emaili{
    width: 240px;
    margin-left: 30px;
    padding: 25px 0 0;
    font-size: .8em;
}

#passwords{
    width: 240px;
    margin-left: 30px;
    font-size: .8em;
}

#btn{
    margin-left: 75px;
    padding: 5px 50px 5px 50px;

}

#emailHelp{
    margin-left: 95px;
    margin-top: 15px;
    
  
}

#emailHelp2{
    margin-left: 130px;
    margin-top: 15px;
}

#welcom{
    margin-left: 105px;
    margin-top: 40px;
    font-size: 1.4em;
    padding: 30px 0 0 5px;

}

#cuenta{
    margin-left: 75px;
    font-size: .9em;
}

#exampleInputEmail1{
    -webkit-box-shadow: 0px -6px 6px -1px rgba(0,0,0,0.09); 
    box-shadow: 0px -6px 6px -1px rgba(0,0,0,0.09);
    
}

#exampleInputPassword1{
    -webkit-box-shadow: 0px -6px 6px -1px rgba(0,0,0,0.09); 
    box-shadow: 0px -6px 6px -1px rgba(0,0,0,0.09);
}


   
    body{
        background-color: #fdddca;
    }