#NOTA{
    
    margin-top: 50px;
    height: 80px;
    width: 1000px;
    margin-left: 130px;
    padding: 12px;
    border-radius: 10px;
    border-style:ridge;

}

#DESPLEGABLE {
    height: 70px;
}

#imgASHBA {
    margin-top: 90px;
    margin-left: 130px;
    float: left;
    border-radius: 10px;
    -webkit-transition:-webkit-transform 0.3s ease-in-out 0.1s;
}

#imgASHBA:hover {
    -webkit-transform:scale(1.2);
}

#DIVLOGO {
    margin-top: 90px;
    border-left:solid ;
    width: 800px;
    margin-left: 340px;
    height: 160px;
    padding: 15px 10px 30px 30px;
    padding-top: 30px;
    
}

#NAVBAR1 {
    clear: both;
    margin-top: 70px;
    width: 1000px;
    margin-left: 130px;
    position:absolute;
    border-style:ridge;
    border-radius: 7px;
}

#FONDO{
    background-color:rgb(248, 247, 247);
    width: 1400px;
    height: 200px;
    
}

.card-group {
    margin-top: 1250px;
    border-radius: 50px;
    width: 1150px;
    position:absolute;
    margin-left: 60px;
    clear: both;
 }

 .card-img-top{
    -webkit-transition:-webkit-transform 0.3s ease-in-out 0.1s;
 }

 .card-img-top:hover{
 -webkit-transform:scale(1.2);
 }

 #PIE {
     margin-top: 300px;
     background-color:rgba(255, 196, 0, 0.89);
     height: 450px;
     
     
 }

 #IMGPIE{
     margin-left: 100px;
     float: left;
     margin-top: 50px;
 }

 #datos{
     margin-left: 750px;
     background-color:rgba(255, 196, 0, 0.89);
     margin-top: 1000px;
     width: 500px;
     
     
 }

 #piep {
     clear: both;
     margin-left: 450px;
     margin-top: 300px;

 }  

 #SVG{
     margin-top: 700px;
 }

 #clasificacion{
     margin-left: 1100px;
     width: 100px;
     margin-top: 30px;
     border-radius: 10px;
     
 }

 #resultados {
     float: left;
     width: 300px;
     margin-left: 300px;
     margin-top: 30px;
 }

 #pagination{
     clear: both;
     margin-left: 30px;
 }

 #card1{
     width: 400px;
     height: 400px;
 }

 #card2{
    width: 400px;
    height: 400px;
}

#card3{
    width: 400px;
    height: 400px;
}

#card4{
    width: 400px;
    height: 400px;
}

#card5{
    width: 400px;
    height: 400px;
}

#card6{
    width: 400px;
    height: 400px;
}

.card-title{
    text-align: center;    
   
}

#boton1{
    width: 330px;
    height: 50px;
    margin-left: 90px;
    margin-top: 100px;
}

#boton2{
    width: 330px;
    height: 50px;
    margin-left: 50px;
    margin-top: 100px;
}

#boton3{
    width: 330px;
    height: 50px;
    margin-left: 50px;
    margin-top: 100px;
}

#gama{
    text-align: center;
    margin-top: 70px;
    background-color: whitesmoke;
    height: 150px;
}

#letras{
    padding: 50px;
}

#boton4{
    margin-left: 325px;
    width: 600px;
    margin-top: 50px;
    height: 60px;
}

#hr{
    margin-top: 70px;
}

#boton5{
    width: 350px;
    height: 50px;
    margin-left: 50px;
    margin-top: 30px;
}
#boton6{
    width: 350px;
    height: 50px;
    margin-left: 50px;
    margin-top: 30px;
}

#boton7{
    width: 350px;
    height: 50px;
    margin-left: 50px;
    margin-top: 30px;
}

#RESULT{
    background-color: whitesmoke;
    text-align: center;
    font-size: 1.6em;
    padding: 10px;
    height: 60px;
}

#card1_result{
    width: 300px;
    height: 500px;
    float: left;
    margin-left: 70px;
    margin-top: 40px;
}
#card1_result2{
    width: 300px;
    height: 500px;
    float: left;
    margin-left: 110px;
    margin-top: 40px;
}
#card1_result3{
    width: 300px;
    height: 500px;
    float: left;
    margin-left: 110px;
    margin-top: 40px;
}
#card1_result4{
    width: 300px;
    height: 500px;
    float: left;
    margin-left: 70px;
    margin-top: 40px;
}
#card1_result5{
    width: 300px;
    height: 500px;
    float: left;
    margin-left: 100px;
    margin-top: 40px;
}
#card1_result6{
    width: 300px;
    height: 500px;
    float: left;
    margin-left: 120px;
    margin-top: 40px;
}

